DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Redis für BullMQ
REDIS_HOST=redis
REDIS_PORT=6379

# Optional: welche Kampagne aktuell aktiv (kann per /record gesetzt werden)
DEFAULT_CAMPAIGN_ID=
